.container>nav {
    display: flex;
    padding: 20px 20px;
}

.container>nav>div {
    background-color: var(--dark-purple);
    padding: 10px 10px;
    border-radius: 10px;
    color: var(--white);
    font-size: 19px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.heading>h1 {
    margin-bottom: 10px;
}

.heading>h3 {
    margin-top: 0;
    margin-bottom: 10vh;
}

.hacklinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hacklinks>div {
    margin: 10px;
    margin-left: 0;
}

.createhack {
    border: 3px var(--dark-purple) solid;
    border-radius: 10px;
    padding: 13px;
    font-size: 20px;
}

.joinhack {
    background-color: var(--dark-purple);
    color: var(--white);
    padding: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.joinhack>input {
    border-radius: 5px;
    font-size: 19px;
    width: 100px;
    border: none;
    margin: 0 5px;
    padding: 7px;
}

.img {
    height: 500px;
    width: 300px;
}


.aboutus>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
}

.aboutus>div>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 400px;
    box-shadow: 4px 4px 11px 1px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    padding: 10px;
}


.footer {
    background-color: var(--dark-purple);
    padding: 30px 20vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.contrilinks {
    flex-grow: 1;
}

.links {
    margin: 10px 0;
    display: flex;
    align-items: center;
}