.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.heading {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 50px;
}

.h3 {
    font-weight: 600;
    font-size: 25px;
    flex-grow: 1;
}

.persontype {
    background-color: var(--dark-purple);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 19px;
}